@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body *{
  font-family: 'Heebo', sans-serif;
}

.navbar * {
  font-size: 1.3em;
}


.ui * {
  direction: rtl !important;
  text-align: right !important;
}