.tiles-page-container {
	padding: 20px;

	.tile-group {
		display: flex;
		gap: 20px;
	}

	.add-tile-button {
		font-size: 1.3em;
	}

	.add-tile-button:hover {
		background-color: lightblue;
	}

	.tile:hover {
		transform: scale(1.1);
	}
}

.tile-modal-container {
	padding: 20px;
	max-width: 40%;
}

.tile-modal-button {
	background-color: lightblue !important;
	font-size: large !important;
}

.tile-modal-input {
	background-color: lightblue !important;
	border: 1px solid #bbb;
}

.tile-sizes-container {
	display: flex;
	flex: 1;
	justify-content: space-around;
}

.tile-radio-input {
	margin-left: 10px;
}

.tile-title-input {
	text-align: center;
}

.tile-categories {
	text-align: right !important;
}